/* -- Panels/Windows Styling -- */
.uf-window.draggable {
  position: absolute;

  background-color: rgba(235, 235, 235, 1);
  border: 1px solid white;
  z-index: 1;
}
.uf-window.header {
  background-color: #2196f3;
  color: white;
  cursor: move;
  padding: 1rem;
  z-index: 2;
}

/* -- Panels/Window Cursor Styling -- */
.uf-window.draggable.resizable .resize-handle {
  position: absolute;
  z-index: 2;
}
.uf-window.draggable.resizable .resize-n {
  cursor: ns-resize;
}
.uf-window.draggable.resizable .resize-e {
  cursor: ew-resize;
}
.uf-window.draggable.resizable .resize-s {
  cursor: ns-resize;
}
.uf-window.draggable.resizable .resize-w {
  cursor: ew-resize;
}
.uf-window.draggable.resizable .resize-ne {
  cursor: ne-resize;
}
.uf-window.draggable.resizable .resize-nw {
  cursor: nw-resize;
}
.uf-window.draggable.resizable .resize-se {
  cursor: se-resize;
}
.uf-window.draggable.resizable .resize-sw {
  cursor: sw-resize;
}